@page
@model MyBooks.Pages.Authors.DetailsModel
@using MyBooks.Models

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row align-items-start">
        <div class="col-6">
            <h2>@Model.Author.Title Details</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Author.Isbn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Author.Isbn)
                </dd>
               
            </dl>
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.Author.AuthorId">Edit</a> |
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
        <div class="col-6">
            <h2>Books written by @Model.Author.FirstName</h2>
            <hr />
            <table id="Assignments" class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Due</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model.Author.Books.OrderBy(a => a.Published))
                    {
                        <tr>
                            <td>@a.Title</td>
                            <td>@a.Published.ToString("MMM dd @ hh:mm tt")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

